.titleHeading {
  font-family: "AED", "sans";
  font-style: normal;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0em;
}
.sponsor {
  font-family: "AED", "sans";
  font-style: normal;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0em;
}
.sponsorText {
  margin-top: 10px;
  display: block;
}
.sponsorImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.sponsorList {
  float: left;
}
